/************** Common **************/

html {
	font-size: 100%;
} 

body {
	font-family: 'Lucida Grande', sans-serif;
	/* 
		Taille de texte par defaut 80% de la taille par defaut 
		definie par le navigateur 
	*/
	font-size: .8em;
	color: #333;
	background: #C0DEED url('images/bg-clouds-t5.png') repeat-x scroll 0 0;
}

* {
	padding: 0;
	margin: 0;
}

a:hover {
	background: none;
}

div.clear {
	clear: both;
}

ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}



h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;	
}

h1,h2,h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#333333;	
}

a {
	text-decoration: none;
	color: #2276bb;
}

.post {
	
}

.post .title {
	color: #000000;
}

.post .title a {
	background: none;
	color: #000000;
	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .meta {
	border-bottom: 1px dashed #D2D4C9;
	text-transform: uppercase;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5 em;
}

.post .entry {
	padding: 10px 0 20px 0;
	text-align: justify;
}

.tapestwitter-form-submit input {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: x-small;
	padding: 4px 8px;
	vertical-align: top;
	color: #666;
	font-size: 14px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

/************** Container **************/

/* Wrapper */
#wrapper {
	width: 765px;
	margin: 1em auto;
	position: relative;
	text-align: left;
}

/************** Header **************/

#header {}

div#headerG, div#logo {
	float: left;
	position: relative;	
}

div#headerD {
	float: right;
}	

div#headerD-top-navigation {
	/* Hauteur de ligne reguliere */
	line-height: 1;
	margin-top: 0.5em;
	/* hauteur du block */
	padding: 8px 0;
	text-align: center;
	background: white;
}

div#headerD-top-navigation li {
	display: inline;
	padding: 0 4px;
}

.header-top {}

/************** Content **************/

/* Page */
#page {			
	background:#fff url('images/filet_bg_right_page.gif') repeat-y top right;	
	/* IE6 Fix */
	height: 100%;
}

.page-top {
	background-image: url('images/arrow.gif');
	background-position: 45px 0;
	background-repeat: no-repeat;
	padding-top: 11px;
	margin-top: 4px;
}

/* Content */
#content {
	width: 545px;
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;	
	background: white;	
	word-wrap: break-word;
}

#content h2 label {
	font-size: 20px;
	font-weight: normal;
}

#content h3 label {
	font-size: 18px;
	font-weight: normal;
}

.round {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;	
}

.round-right {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;	
}

.round-left {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;	
}

/* Formulaires */

fieldset.tapestwitter-form {
	width: 100%;
}

fieldset.tapestwitter-form textarea {
	border: 1px solid #AAAAAA;
	padding: 4px 2px;
}

fieldset, img {
	border-color:transparent;
	border-width:0;
}



/* Box de publication de tweet */

#publish-tweet-box {
	width: 100%;	
}

#publish-tweet-box-top, #publish-tweet-box-bottom  {
	height: 30px;
	line-height: 1.9em;
}

#publish-tweet-box-top h2 {
    float: left;
}

#publish-tweet-box-top div.publish-tweet-counter, #publish-tweet-box-bottom div.publish-tweet-submit {
	float: right;
	text-align: right;
	padding-right: 18px;
	color: #ccc;
	font-size: 1.9em;
	font-weight: bold;
}

#publish-tweet-box-top div.publish-tweet-counter-limit {
	color: #d40d12;
}

#publish-tweet-box-bottom div.publish-tweet-submit {
	padding-top: 10px;	
}

#publish-tweet-box textarea {
	font-size: 1.15em;
	height: 2.5em;
	line-height: 1;
	overflow: auto;
	padding: 3px;
	width: 518px;
}

#list-tweets {
	width: 518px;
}

ul.tweetInfosBox {
	margin-top: 5px;
	border-top: 1px solid #eee;
}

ul.tweetInfosBox li {
	position: relative;
}

ul.tweetInfosBox li:hover {
	background-color: #f7f7f7;
}


/************** Right Bar **************/

#rightbar {
	float: right;
	width: 200px;	
	padding-top: 10px;
}

#rightbar-content {
	padding-left: 10px;	
}

#rightbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#rightbar li {
	
}

#rightbar li ul {
	padding-bottom: 30px;
}

#rightbar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#rightbar h2 {
	letter-spacing: -.5px;
	color: #000000;
}

#rightbar p {
	padding-bottom: 20px;
	text-align: justify;
}

#rightbar a {
	color: #787878;
	border: none;
}

#rightbar a:hover {
	text-decoration: underline;
	color: #787878;	
}


/************** Footer **************/

#footer {
	/* Hauteur de ligne reguliere */
	line-height: 1;
	margin-top: 0.7em;
	padding: 8px 0;
	text-align: center;
	background: white;
	font-size: 0.8em;
}

#footer li, #header li {
	display: inline;
	padding: 0 4px;
}