/************** Common **************/

html {
	font-size: 100%;
} 

body {
	font-family: 'Lucida Grande', sans-serif;
	/* 
		Taille de texte par defaut 80% de la taille par defaut 
		definie par le navigateur 
	*/
	font-size: .8em;
	color: #333;	
}

* {
	padding: 0;
	margin: 0;
}

a:hover {
	background: none;
}

div.clear {
	clear: both;
}

ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}



h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;	
}

h1,h2,h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#569D2F;	
}

a {
	text-decoration: none;
	color: #569d2f;
}

.post {
	
}

.post .title {
	color: #000000;
}

.post .title a {
	background: none;
	color: #000000;
	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .meta {
	border-bottom: 1px dashed #D2D4C9;
	text-transform: uppercase;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5 em;
}

.post .entry {
	padding: 10px 0 20px 0;
	text-align: justify;
}

a.normal {
	color: #569D2F;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.tapestwitter-form-submit input {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: x-small;
	padding: 4px 8px;
	vertical-align: top;
	color: #666;
	font-size: 14px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.fadeLeft {
   	background: transparent url('images/gradientLeft.png') repeat scroll 0 0 !important;
}

/************** Container **************/

/* Wrapper */
#wrapper {
	width: 100%;
	margin: 0;
	position: relative;
	text-align: left;
}

/************** Header **************/

#header {}

div#headerTop, div#simpleHeaderTop {
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;	
	top: 0;
}

div#simpleHeaderTop {
	background: #569D2F;
}
div#headerTop {
	background: #000 url('images/bg_tapestwitter_header_top.png') repeat-x;
	position: fixed;
	z-index: 5;
}

div#headerTop .inner {
	width: 1040px;
	height: 100%;
}

div#simpleHeaderTop .inner {
	width: 765px;
}

div#headerTop #logo, div#simpleHeaderTop #logo {
	padding-left: 20px;
}

div#headerRight {
	position: absolute;
	height: 340px;	
	width: 235px;
	top: 15px;
	right: 0;
	z-index: 100;	
}


.headerRightLogin {
	text-align: right;
	padding-right: 10px;	
}

.headerRightLogin span {
	font-size: 11px;
	line-height: 23px;
	color: #dbe9c1;	
}

div#activeLinks {
	float: right;
	width: 400px;
	color: white;
	height: 100%;
}

div#userMenu {
	cursor: pointer;
	float: right;
	padding: 10px 18px 10px 15px;
	vertical-align: top;
	height: 20px;
}

div#userMenu:hover {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
	color: #FFFFFF;
}

.closed {
	display: none;	
}

div#userMenu a {
	color: #bababa;	
}

ul#userMenuItems {
	position: absolute;
	top: 40px;
	right: 0;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
	background: #121212 none repeat scroll 0 0;
}

ul#userMenuItems li {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
	clear: both;
	display: block;
	width: 150px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

ul#userMenuItems li:last-child, ul#userMenuItems li:last-child a {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

ul#userMenuItems li a {
	clear: both;
	display: block;
	padding: 6px 15px;
	width: 123px;
}

ul#userMenuItems li a:hover {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
	color: #FFFFFF;
}



a.signin {
	background: #92c866 none repeat scroll 0 0;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 4px;
	padding: 5px 6px 6px;
	text-decoration: none;
	border-color: #bedea3;
	border-style: solid;
	border-width: 1px 0 0 0;
}

a.signin span {
	color: #fff;
	background-image: url('images/toggle_down.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding: 4px 16px 6px 0;
}

.headerRightRegister {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:12px;
	-moz-border-radius-bottomright:12px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-topright:12px;
	background:#FFFFFF none repeat scroll 0 0;
	margin-top: 10px;
	padding:10px;
}

.newUser {
	background: #d1e7bf none repeat scroll 0 0;
	color: #445566;
	padding: 0 10px 5px;
}
.newUser h2 {
	font-size: 16px;	
	color: #569D2F;
	font-family: "Helvetica Neue",Arial,Sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.newUser div.join {
	text-align:center;
}

.newUser a.signup {
	color: #569D2F;
	font-size: 18px;
	font-weight: bold;
	padding: 0.3em 2.5em;
}

.newUser div.join a:hover {
	text-decoration: none;
}

.newUser p {
	font-family: "Lucida Grande",Arial,Sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 10px;
}

div#headerMiddle {
	background: #8CC35E url('images/bg_tapestwitter_header.gif') no-repeat scroll 50% 0;
	height: 158px;
	position: relative;
}

div#headerBottom {
	background: #569D2F;
	height: 35px;	
}


div#headerBottom div#tapestwitterTrends {
	width: 715px;
	margin-left: 160px;
	z-index: 10;
	position: relative;
	overflow: hidden;
	height: 35px;
}

.trends  {
	position: relative;	
}
.trends .inner {
	position: relative;
}

#tapestwitterTrends .fade {
    padding: 18px 0;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 30;
}
#tapestwitterTrends .fade-left {
	background: url('images/tapestwitter-fade-trends-left.png') repeat-y scroll 0 0 transparent;
    left: 0;
}
#tapestwitterTrends .fade-right {
	background: url('images/tapestwitter-fade-trends-right.png') repeat-y scroll 0 0 transparent;
    left: 683px;
}

div#headerBottom .inner ul {
	line-height: 35px;
}
div#headerBottom .inner ul li {
	padding-right: 10px;
}

div#headerBottom .inner ul li a {
	color: #b0d8a8;
}

div#headerBottom .inner ul li.label {
	color: white;
	font-weight: bold;	
}

div#headerBottom .fadeLeft {
	height: 35px;
	width: 60px;
	display: block;
}

div#logoSearch {
	padding-top: 10px;
}

div#logo, div#search {
	float: left;
	position: relative;	
}

#search p {
	padding-top: 38px;
	opacity: 0.6;	
}

.searchFormQuery {
	background: #FFFFFF none repeat scroll 0 0;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	font-family: "Lucida Grande",Arial,Sans-serif;
	font-size: 13px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 6px;
	width: 226px;
	opacity: 0.6;
}

.btnShadow {
background:#BBBBBB url('images/bg_tapestwitter_btn.png') repeat-x scroll 0 0;
border:1px solid #EEEEEE;
color:#333333;
font-family:"Lucida Grande",Arial,Sans-serif;
font-size:13px;
margin:0;
outline-width:0;
padding:6px 12px;
text-shadow:0 1px 0 #FFFFFF;
}

.searchFormSubmit {
	opacity: 0.6;
}

.searchFormSubmit::-moz-focus-inner {
	border: 0 none;
	padding: 0;	
}
.searchFormSubmit:hover, .searchFormSubmit:focus {
	background-position: 0 -5px;
	color: #111111;
	cursor: pointer;
}
.searchFormSubmit:active {
background-image:none;
}

#logoNote p {
	color: #DBE9C1;	
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
	padding: 0 0 0 7px;
}

.inner {
	position: relative;
	margin: 0 auto;
	width: 960px;	
}

.innerForm {
	margin: 0 20px 25px 25px;	
}


div#headerG {
	float: left;
	position: relative;	
}

div#headerD {
	float: right;
}	

div#headerD-top-navigation {
	/* Hauteur de ligne reguliere */
	line-height: 1;
	margin-top: 0.5em;
	/* hauteur du block */
	padding: 8px 0;
	text-align: center;
	background: white;
}

div#headerD-top-navigation li {
	display: inline;
	padding: 0 4px;
}

.header-top {}

/************** Content **************/

/* Page */
#page {			
	/* IE6 Fix */
	height: 100%;
	width: 100%;
	background: #c2e3bb url('images/bg_tapestwitter_clouds.gif') no-repeat top left;
	min-height: 453px;
}

.pageTop, .pageBottom  {
	padding-top: 10px;
}

/* Content */
div#content {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;	
	word-wrap: break-word;
}

.main {
	width: 1040px;	
}

.homepage {
	width: 947px;		
}
.homepageContent {
	width: 700px;	
}

div#wrapperContent {
	overflow: hidden;
	height: 100%;	
	background: #d1e7bf;
	margin-top: 45px;
}

div#leftSide {
	position: relative;
	float: left;
	width: 540px;
	background: #f8f8f8;
	height: 100%;	
	padding: 20px 20px 20px 20px;
}

.wrapperDamier {
	position: relative;
	float: left;
	width: 220px;
	padding: 0;
	margin: 0;	
}

.wrapperContent {
	position: relative;
	float: right;
	width: 460px;
	padding: 0;
	margin-top: 6px;
}

.wrapperContent h2 {
	color: #569D2F;
	font-family: "Helvetica Neue",Arial,Sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

div#damier {
	background: #eee none repeat scroll 0 0;
	padding: 10px 15px 10px 15px;
}

.damier-item-image {
	width: 50px;
	height: 30px;	
}

#damier ul {
	margin-top: 10px;	
}

#damier ul li {
	position: relative;
	float: left;	
	padding-right: 10px;
	padding-bottom: 10px;
}

#damier h2 {
	border-bottom: 1px solid #eee;
	border-bottom-color: #ddd;
	color: #666;
	font-weight: bold;
	line-height: 20px;
	font-size: 15px;
	padding-bottom: 5px;
}

#content h2 label {
	font-size: 20px;
	font-weight: normal;
}

#content h3 label {
	font-size: 18px;
	font-weight: normal;
}

.round {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;	
}

.round-right {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;	
}

.round-left {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;	
}

/* Formulaires */

fieldset.tapestwitter-form {
	width: 100%;
}

fieldset.tapestwitter-form textarea {
	border: 1px solid #AAAAAA;
	padding: 4px 2px;
}

fieldset.tapestwitter-form textarea:focus {
	-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	border : 1px solid #99CE8D !important;
    outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;		
}

fieldset, img {
	border-color:transparent;
	border-width:0;
}



/* Box de publication de tweet */

#publish-tweet-box {
	width: 510px;	
}

#publish-tweet-box-top {
	height: 30px;
	line-height: 1.9em;
}
	
#publish-tweet-box-top h2 {
    float: left;
}

div#publish-tweet-box-bottom {
	float: right;
	color: #ccc;
	font-size: 20px;
	padding-right: 2px;
	height: 30px;
	line-height: 30px;
}

#publish-tweet-box-top div.publish-tweet-counter-limit {
	color: #d40d12;
}

#publish-tweet-box textarea {
	font-size: 1.15em;
	height: 2.5em;
	line-height: 1;
	overflow: auto;
	padding: 3px;
	width: 500px;
}

#publishTweetForm fieldset {
	padding-top: 10px;
	padding-bottom: 10px;	
}

.publish-tweet-counter {
	float:left;
	padding-right: 10px;	
}


#list-tweets {
	width: 518px;
}

ul.tweetInfosBox {
	margin-top: 5px;
	border-top: 1px solid #eee;
}

ul.tweetInfosBox li {
	position: relative;
}

ul.tweetInfosBox li:hover {
	background-color: #f7f7f7;
}


/************** Right Bar **************/

#rightbar {
	float: right;
	width: 200px;	
	padding-top: 10px;
}

#rightbar-content {
	padding-left: 10px;	
}

#rightbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#rightbar li {
	
}

#rightbar li ul {
	padding-bottom: 30px;
}

#rightbar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#rightbar h2 {
	letter-spacing: -.5px;
	color: #000000;
}

#rightbar p {
	padding-bottom: 20px;
	text-align: justify;
}

#rightbar a {
	color: #787878;
	border: none;
}

#rightbar a:hover {
	text-decoration: underline;
	color: #787878;	
}

div.section {
	padding:13px;
}

.section-header{
	font-weight:bold;
	padding-bottom: 10px;
}


/************** Footer **************/

#footer {
	/* Hauteur de ligne reguliere */
	line-height: 1;
	padding-top: 2em;
	text-align: center;
	background: white;
	font-size: 0.8em;
	background: #eee url('images/bg_tapestwitter_footer.gif') repeat-x;
	height: 3em;
	width: 100%;
	position: relative;
}

#footer li, #header li {
	display: inline;
	padding: 0 4px;
}

#footer .copyright-info {
	float: left;
	width: 100%;
}

#footer .language-select ul {
    color: #666666;
    font-size: 11px;
    margin: 0;
    overflow: hidden;
}
#footer .language-select {
	position: absolute;
    width: 235px;
	float: right;
	text-align: center;
	left: 880px;
}

/************* TopTweets : RollingItems Component ************/

.rolling {
   	margin-top: 10px;
   	position: relative;    	
}
   
.rolling-list {
	list-style: none; 
   	position: absolute;
   	margin: 0;	
}    
   
.rolling-fade {
   	background: transparent url('images/gradient.png') repeat-x scroll center bottom !important;
   	background: none;
   	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='images/gradient.png');
	bottom: 0;
	height: 30px;
	left: 0;
	pointer-events: none;
	position: absolute;
	z-index: 10;
	width: 100%;
}
