/************** Common **************/

div.clear {
	clear: both;
}

/************** Tweet Infos Box **************/

#comp-tweet-infos {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #eee;
	height: 55px;
	min-height: 55px;
}

#comp-tweet-infos .comp-tweet-infos-thumb {
	float: left;
	width: 50px;
}

#comp-tweet-infos .comp-tweet-infos-text {
	padding-top: 5px;	
	padding-left: 10px;
	padding-right: 5px;
	margin-left: 50px;
	font-size: 1.1em;
}

#comp-tweet-infos .comp-tweet-infos-status {
	font-size: 0.8em;
	color: #999;
}

/************** Ajax More Results **************/

.comp-ajax-more-results {
	width: 518px;	
}

.comp-ajax-more-results-link {
	background-image: url('components/ajaxmoreresults/images/more.gif');
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #fff;	
	border-color: #ddd #aaa #aaa #ddd;
	border-style: solid;
	border-width: 1px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 22px;
	line-height: 1.5em;
	margin-bottom: 6px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 6px 0;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	width: 100%;
}

/************** Right Bar **************/

.rightbar-user-img-thumb {
	width: 31px;
	height: 35px;
}

#rightbar-user-infos-login, #rightbar-user-infos-tweet-count {
	position: absolute;
	padding-top: 3px;
	padding-left: 10px;		
}

#rightbar-user-infos-login {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
}

#rightbar-user-infos-tweet-count {
	font-size: 11px;	
	margin-top: 15px;
}

#rightbar-user-infos a, #rightbar-user-infos a:hover {
	color: #333;
	text-decoration: none;
}

#rightbar-user-infos a {
	cursor: pointer;
}
