<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tapestwitter Tests" verbose="1">
	<test name="TestsJava">
		<packages>
			<package name="com.tapestwitter.util" />
		</packages>
	</test>
	<test name="TestsGroovy" junit="true">
		<classes>
			<class name="com.tapestwitter.domain.business.DefaultAuthenticatorTest" />
		</classes>
	</test>
</suite>
